@using DemoWebApplication.Model

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>



@model DemoModel
@{
     var langName = Model.Lang?.Name ?? "not specified";
}
<p>Model Culture: @langName</p>
<p>Current Culture: @ViewData["CurrentUICulture"]</p>
<p>Message: @Model.Message</p>

<div style="border: solid red; padding: 10px">
    @Html.Partial("Details")
</div>

<form asp-controller="Home" asp-action="AcceptForm">
    <label asp-for="Number"></label>
    <input asp-for="Number" type="text"/>
    <input type="submit" name="Accept"/>
    <br>
    <span asp-validation-for="Number"></span>
</form>